<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="global-csrf" content="{{csrf}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />

  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/regular.css" media="screen and (min-width: 978px)">
  <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 977px)">
</head>

<body>

  <div id="navbar">
    <div class="nav-item" id="nav-expander">
      <div class="header">
        <a href="/">
        <img src="/img/favicon/favicon-32x32.png" alt="">
        </a>
        <span class="mobile">
          MEME-A</span>
      </div>

      <div class="mobile right" id="expand">
        <i class="bars icon"></i>
      </div>
    </div>

    <div class="expandable" id="nav-expand">
      <div class="nav-item">
        <a href="/" class="{{#if default}} active {{/if}}">
          <i class="home icon"> </i>
          Home</a>
      </div>

      <div class="nav-item">
        <a href="/post/random/"  class="{{#if random}} active {{/if}}">
          <i class="shuffle icon"></i>
          Random
        </a>
      </div>

      <div class="nav-item {{#if search }} active {{else}} {{#if tag}} active {{/if}} {{/if}}">
        <div class="nav-form">
          <form action="/post/search/" id="search-form">
            <i class="search icon"></i>
            <input type="text" name="q" id="q" placeholder="Search...">
          </form>
        </div>
      </div>

      <div class="nav-item right">
        {{#if account}}
        <div class="{{#if mine}} active2 {{/if}} user-info ui dropdown">
          <img src="{{account.img}}" class="ui avatar image">
          <span>{{account.name}}</span>
          <div class="menu" id="user-menu">
            <a href="/user/{{account._id}}" class="item">
            <i class="user circle outline icon"></i> View Profile</a>
            <a href="/user/{{account._id}}/edit/" class="item">
            <i class="edit outline icon"></i>
              Update Profile</a>
            <a href="/user/logout/" class="ui red item">
            <i class="power off icon"></i>
            Log Out</a>
          </div>
        </div>
        <div class="user-share">
          <button class="ui purple tiny button" id="shareModal">
            <i class="share icon"></i>
            Share-A-Meme</button>
        </div>
        {{else}}
        <div class="user-login">
          <button class="ui teal button" id="loginModal">Login / Register</button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if account}}
  <div id="share" class="ui small modal">
    <div class="header">Share-A-Meme</div>
    <div class="content" id="shareForm">
      <form action="/post/share/" method="POST" class="ui form">
        <input type="hidden" name="_csrf" value="{{csrf}}">
          
        <div class="field">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" required>
        </div>
      
        <div class="field">
          <label for="tags">Tags</label>
          <select class="ui search fluid dropdown" multiple="" name="tags" id="tags" placeholder="Press enter or space to add a tag..." required>
          </select>
          <small class="muted">Press space or enter to separate tags.</small>
        </div>
      
        <div class="field">
          <div class="field">
            <label for="img">Meme</label>
            <div class="ui right action left icon input">
              <i class="image icon"></i>
              <input type="text" id="img-name" readonly="" class="file-name">
              <input type="file" name="img" id="img" style="display: none" accept="image/*">
              <div class="ui basic floating button" id="img-browse">Browse</div>
            </div>
          </div>
        </div>
        <input type="submit" class="ui green button" value="Share Now">
      
        <div class="ui error message"></div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Close</div>
    </div>
  </div>
    
  <div id="edit" class="ui small modal">
    <div class="header">Edit-A-Meme</div>
    <div class="content" id="editForm">
      <form action="/post/edit/" method="POST" class="ui form">
          <input type="hidden" name="_csrf" value="{{csrf}}">
          
        <div class="field">
          <label for="title">Title</label>
          <input type="text" name="title" id="editTitle" required>
        </div>
      
        <div class="field">
          <label for="tags">Tags</label>
          <select class="ui search fluid dropdown" multiple="" name="tags" id="editTags" required>
          </select>
          <small class="muted">Press space or enter to separate tags.</small>
        </div>
      
        
        <input type="submit" class="ui green button" value="Edit Now">
      
        <div class="ui error message"></div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Close</div>
    </div>
      
  </div>
    
 <div id="delete" class="ui tiny modal">
    <div class="header">
      Delete this post?
    </div>
    <div class="content" id="delForm">
      <form action="/post/edit/" method="POST" class="ui form">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" value="">  

        <div class="field">
          <label for="title">Are you sure you want to continue? Doing this will permanently remove this meme forever.</label>
        </div>
            
        
        <input type="submit" class="ui red button" id="delBtn" value="Yes">
      
        <div class="ui error message"></div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Close</div>
    </div>
      
  </div>
    
  {{else}}
  <div id="login" class="ui small modal">
    <div class="header">Login / Register</div>
    <div class="content">
      <div class="ui top tabular menu">
        <div class="active item" id="loginClick">Login</div>
        <div class="item" id="registerClick">Register</div>
      </div>
      <div class="ui bottom active tab" id="loginTab">
        <form action="/login/" method="POST" class="ui form">
          <input type="hidden" name="_csrf" value="{{csrf}}">

          <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
          </div>
  
          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
          </div>
  
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" class="hidden" tabindex="0" name="remember" id="remember">
              <label for="remember">Remember Me</label>
            </div>
          </div>
          <input type="submit" value="Log In" class="ui green button">

          <div class="ui error message"></div>
        </form>
      </div>
      <div class="ui bottom  tab" id="registerTab">
        <form action="/register/" method="POST" class="ui form">
          <input type="hidden" name="_csrf" value="{{csrf}}">

          <div class="field">
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" required>
          </div>
          <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
          </div>
  
          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
          </div>
  
          <div class="field">
            <label for="img">Profile Picture</label>
            <div class="ui right action left icon input">
              <i class="image icon"></i>
              <input type="text" id="img-name" readonly="" class="file-name">
              <input type="file" name="img" id="img" style="display: none" accept="image/*">
              <div class="ui basic floating button" id="img-browse">Browse</div>
            </div>
          </div>
          <input value="Register" type="submit" class="ui green button">
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel button">Close</div>
    </div>
  </div>
  {{/if}}