<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --}} {{!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous"> --}}

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="img/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32" />

  <link rel="stylesheet" href="css/fa.css">
  {{!-- <link rel="stylesheet" href="/css/bootstrap4.1.css"> --}}
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/content.css">

</head>

<body>
  <script>
    var acc = "{{account._id}}";
  </script>
  <nav class="navigation">
    <div id="header">
      <div class="title">
        <a href="/" class="navbar-brand" style="color: #fff; display: flex; align-items: center;">
          <img src="/img/favicon/favicon-128.png" alt="MEME-A" width="22px" height="22px" style="margin-right: 8px">
          MEME-A</a>
      </div>
      <div id="hamburger">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    <div id="items" data-expanded="false">
      <div class="item">
        <a href="/">
          <i class="fa fa-home"></i> Home</a>
        <a href="/random/">
          <i class="fa fa-random"></i> Random</a>
        <form action="#">
          <i class="fa fa-search"></i>
          <input type="text" name="q" id="q" placeholder="Search here..." />
        </form>
      </div>

      <div id="tools">
        {{#if account}}
        <!-- Button trigger modal -->
        <div class="user dropdown">
          <img src="{{account.img}}" alt="{{account.name}}" class="user-img dropdown-toggle" data-toggle="dropdown">
          <div class="user-info dropdown-menu">
            <span>{{account.name}}</span>
            <a href="/profile/{{account.username}}"><i class="far fa-user-circle"></i>View Profile</a>
            <a href="/logout/"><i class="fas fa-sign-out-alt"></i>Log Out</a>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modelId">
          <i class="far fa-share-square"></i> Share-A-Meme
        </button>
        {{else}}
        <a href="/user/" id="userLogin" data-toggle="modal" data-target="#loginModal">Login/Register</a>
        {{/if}}
      </div>
    </div>
  </nav>

  {{#if account}}
  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modelTitleId">Share-A-Meme</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/upload/share/nojs/" id="memeshare" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="memeTitle">Meme Title</label>
              <input type="text" class="form-control" name="memeTitle" id="memeTitle" aria-describedby="helpId" placeholder="Enter meme title..." required>
            </div>
            <div class="form-group">
              <label for="memeTags">Meme Tags</label>
              <input type="text" class="form-control" name="memeTags" id="memeTags" aria-describedby="memeTag" placeholder="Enter meme tags...">
              <small id="memeTag" class="form-text text-muted">*Press space or enter to separate tags. <span id="req-tags">There should be at least one tag in a post.</span></small>
              <div id="memeTagList"></div>
            </div>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input form-control-sm" id="meme" accept="image/*" required>
                <label class="custom-file-label" for="meme">Choose file</label>
              </div>
              <small id="memeHelp" class="form-text text-muted">*You can only upload photos and gifs</small>
            </div>
            <br>
            <div style="text-align: center; margin-top: 15px">
              <button type="submit" class="btn btn-success">Share My Meme!</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{else}}

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="loginModalTitle">Login/Register</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a href="#loginForm" class="nav-link active" data-toggle="pill">Log In</a>
              </li>
              <li class="nav-item">
                <a href="#registerForm" class="nav-link" data-toggle="pill">Register</a>
              </li>
            </ul>

            <div class="tab-content">
              <div id="loginForm" class="tab-pane container active">
                <form action="/user/login/nojs/" id="login" method="POST">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control form-control-sm" id="username" placeholder="Enter username..." required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-sm" id="password" placeholder="Enter password..." required>
                  </div>

                  <div class="custom-control custom-checkbox" style="text-align:center">
                    <input type="checkbox" class="custom-control-input" id="remember">
                    <label class="custom-control-label" for="remember">Remember Me</label>
                  </div>

                  <div style="text-align:center">
                    <button type="submit" class="btn btn-success" style="margin: 0 auto">Login Now</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>

              <div id="registerForm" class="tab-pane container">
                <form action="/user/register/nojs/" id="register" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter your full name..." required>
                  </div>
                  <div class="form-group">
                    <label for="reg_username">Userame</label>
                    <input type="text" class="form-control form-control-sm" id="reg_username" placeholder="Enter username..." required>
                  </div>
                  <div class="form-group">
                    <label for="reg_password">Password</label>
                    <input type="password" class="form-control form-control-sm" id="reg_password" placeholder="Enter password..." required>
                  </div>

                  <div class="custom-file">
                    <input type="file" class="custom-file-input form-control-sm" id="img" accept="image/*">
                    <label class="custom-file-label" for="img">Choose file</label>
                  </div>

                  <div style="text-align: center; margin-top: 15px">
                    <button type="submit" class="btn btn-success" style="margin: 0 auto">Register Now</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <div id="content">